{{!-- Flashcard - will show if logged in --}}
{{#if loggedIn}}
<section class="flashcard">
    <img src="/images/{{flashcard.filename}}" alt="{{flashcard.description}}">
    <div class="flashcard-details">
        <h3>{{flashcard.title}}</h3>
        <p>{{flashcard.cow}}</p>
    </div>
</section>

{{else}}
<a href="/login">You must login before you can play!</a>
{{/if}}