<script id="card-template" type="text/x-handlebars-template">
    {{#if flashcards.length}}
    <section class="card">
        <img src="{{flashcards.[0].photo}}" alt="{{flashcards.[0].caption}}">
        <h2>{{flashcards.[0].title}}</h2>
        <p>{{flashcards.[0].caption}}</p>
        <ul>
            <li>Origin: {{flashcards.[0].Origin}}</li>
            <li>Coat Type: {{flashcards.[0].CoatType}}</li>
            <li>Color: {{flashcards.[0].Color}}</li>
            <li>Avg Weight: {{flashcards.[0].AvgWeight}}</li>
            <li>Purpose: {{flashcards.[0].Purpose}}</li>
        </ul>
    </section>
    {{else}}
    <p>No flashcards available.</p>
    {{/if}}
</script>