{{!-- Multiple choice options --}}
    
<section class="multiple-choice" id="answers">

    {{!-- Connecting to individual cards --}}
    <a href="Main\assets\js\flashcardData.js/{{card}}"></a>


    {{!-- Multiple choice options --}}
        <input type="radio" id="{{flashcard.answer}}" name="option_a" value="{{flashcard.randomAnswers}}">
            <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
        <input type="radio" id="{{flashcard.answer}}" name="option_b" value="{{flashcard.randomAnswers}}">
            <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
        <input type="radio" id="{{flashcard.answer}}" name="option_c" value="{{flashcard.randomAnswers}}">
            <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
        <input type="radio" id="{{flashcard.answer}}" name="option_d" value="{{flashcard.randomAnswers}}">
            <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>

    <script src="/Main/routes/api/flashcardAnswers/"></script>
</seciont>
<br>