{{!-- Multiple choice options --}}
    
<section class="multipleChoice" id="answers">
    <script id="flashcard-template" type="text/x-handlebars-template">
    <header>{{flashcard.card}}</header>

    {{#each randomValues flashcards 4}}
            <input type="radio" id="option_{{@index}}" name="flashcard_option" value="{{this.Name}}">
            <label for="option_{{@index}}">{{this.Name}}</label>
            <br>

            <button id="submitAnswer">Guess if you dare</button>
        {{/each}}

    </script>
</section>
