<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moo-velous Facts</title>
    <link rel="stylesheet" href="./output.css">
</head>

<body>
    {{!-- Page header --}}
    <header>
        <h1>Moo-velous Facts</h1>
        <h3>An "udderly" amazing quiz!</h3>
    </header>

    {{!-- Login/Logout buttons --}}
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>

    {{!-- Quiz start --}}
    <main>
        <aside>
            <h2>Start your quiz here!</h2>
        </aside>
        <div class="deck">
            {{{body}}}
        </div>
        <br>

    {{!-- Multiple choice options --}}
    
        <div class="multiple-choice" id="answers">
            <input type="radio" id="{{flashcard.answer}}" name="option_a" value="{{flashcard.choice}}">
                <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
            <input type="radio" id="{{flashcard.answer}}" name="option_b" value="{{flashcard.choice}}">
                <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
            <input type="radio" id="{{flashcard.answer}}" name="option_c" value="{{flashcard.choice}}">
                <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
            <input type="radio" id="{{flashcard.answer}}" name="option_d" value="{{flashcard.choice}}">
                <label for="{{flashcard.choice}}">{{flashcard.choice}}</label><br>
            <script src="/Main/routes/api/flashcardAnswers/"></script>
        </div>
        <br>

    {{!-- Random next flashcard --}}
        
        <div id="randomFlashcard">
            <input type="flashcard" id="flashcardInput" multiple>
            <button id="randomFlashcardButton">Next Question!</button>
            <p id="selectedFlashcard"></p>
            <script src="/Main/routes/api/randomCard.js"></script>
        </div>
    </main>

    {{#if loggedIn}}
    
    <script src="/js/logout.js"></script>
</body>

</html>